In [6]:
x = 3
# from math import *

import math
import numpy as np
np.sin(x)

0.1411200080598672

In [7]:
np = 1
np.sin(x)

AttributeError: 'int' object has no attribute 'sin'

[A good website](https://www.learnpython.org/)

In [13]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Arithmetic Operators
| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [14]:
x = 2
y = 4

In [15]:
type(x)

int

In [16]:
print(x+y)
print(x-y)

6
-2

In [17]:
print(x*y)
print(x/y)
print(x//y)

8
0.5
0

In [18]:
print(y%x)

0

In [19]:
x**y

16

### Relational Operators
| Symbol | Task Performed |
|----|---|
|  = | Assignment|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [20]:
print(x==y)
print(x==2)
print(x!=y)

False
True
True

In [16]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [21]:
x>1 and y<10

True

In [22]:
x>1 or y<1

True

In [23]:
1 < x < 3

True

# Types

In [ ]:
type

In [109]:
print(type(False))
print(type(1))
print(type(1.5))

<class 'bool'>
<class 'int'>
<class 'float'>

## Boolean

In [110]:
bool

bool

## integer, float

In [111]:
int
float

float

In [112]:
x = 1.3
type(x)

float

In [113]:
int(1.9)

1

## String

In [114]:
str(1)+str(1)

'11'

In [115]:
s1 = 'Hi, this is Python course.'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is Python course.
It's good to see you here!

In [116]:
'aaaaaa'.capitalize()

'Aaaaaa'

In [117]:
s1.count('i')

3

In [118]:
s1.endswith('.')
# startswith

True

In [119]:
s1.find('P')

12

In [120]:
s1.index('H')

0

In [121]:
'-'.join(['1','2','3','4'])

'1-2-3-4'

In [122]:
s1.lower()
# upper

'hi, this is python course.'

In [123]:
s1.replace('H','M')

'Mi, this is Python course.'

In [124]:
s1.split('s')

['Hi, thi', ' i', ' Python cour', 'e.']

In [125]:
'100'.zfill(4)

'0100'

In [126]:
s1 = 'aaa'
s2 = 'bbb'

In [127]:
s1*2

'aaaaaa'

In [128]:
s1+s2

'aaabbb'

## List

In [129]:
list

list

In [130]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [132]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
x[4]

5

In [134]:
x[-3]

8

In [135]:
x[3:6]

[4, 5, 6]

In [136]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [137]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
x[:-4]

[1, 2, 3, 4, 5, 6]

In [139]:
# [<begin>:<end>:<step>]
x[1:7:2]

[2, 4, 6]

In [140]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [141]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [142]:
x+[4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [143]:
y = [1,2,3,'Hi',[],[1,2,3]]
y

[1, 2, 3, 'Hi', [], [1, 2, 3]]

In [144]:
y[3][1]

'i'

In [145]:
x = [1,2,3]

In [146]:
x.append(5)

In [147]:
x

[1, 2, 3, 5]

In [148]:
x.insert(3,6)

In [149]:
x

[1, 2, 3, 6, 5]

In [150]:
x.clear()

In [151]:
x

[]

In [152]:
x = [1,2,3]
x.remove(1)

In [153]:
x

[2, 3]

In [154]:
x.pop(1)

3

In [155]:
x = [1,2,3]
x.reverse()

In [156]:
x

[3, 2, 1]

In [157]:
x = [1,2,3,'Hi',[],[1,2,3]]
x[3]

'Hi'

In [158]:
x = [1,2,3,'Hi',[],[1,2,3]]
x[3] = 'Bye'
x

[1, 2, 3, 'Bye', [], [1, 2, 3]]

In [44]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

## Dictionary

In [189]:
x={"a":1,4:10,12:[]}
print(type(x))
print(x)

<class 'dict'>
{'a': 1, 4: 10, 12: []}

In [190]:
print(x['a'])
print(x[4])

1
10

In [192]:
y = x.keys()

In [193]:
y

dict_keys(['a', 4, 12])

In [195]:
list(y)

['a', 4, 12]

In [162]:
x['b']

KeyError: 'b'

In [46]:
{i:i*'a' for i in range(5)}

{0: '', 1: 'a', 2: 'aa', 3: 'aaa', 4: 'aaaa'}

### Other types

In [163]:
tuple
set

set

In [164]:
x = (1,2,3)
type(x)

tuple

In [165]:
x = set([1,2,2,3])
type(x)

set

In [166]:
x

{1, 2, 3}

In [172]:
x = 'salaam. How are you? Let\'s meet.'
x.replace(' ','')

"salaam.Howareyou?Let'smeet."

In [174]:
y = list(x)
y.remove(' ')

In [179]:
y = x.split(' ')
''.join(y)

"salaam.Howareyou?Let'smeet."

In [181]:
y

['salaam.', 'How', 'are', 'you?', "Let's", 'meet.']

In [180]:
len(y)

6

In [184]:
x.replace('s','z').replace(' ','_')

"zalaam._How_are_you?_Let'z_meet."

In [186]:
x[::-1]

".teem s'teL ?uoy era woH .maalas"

In [188]:
'My boss is a good man.'.replace(2*'o','o')

'My boss is a god man.'

# Loop

In [4]:
for i in [1,2,3]:
    print(i)
    print('Hi')
print('Bye!')

1
Hi
2
Hi
3
Hi
Bye!

In [47]:
range(2,10,2)

range(2, 10, 2)

In [8]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [11]:
n = 0
while n<10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [12]:
x = 1
while x>1e-4:
    print(x)
    x = x/5

1
0.2
0.04
0.008
0.0016
0.00032

# Condition control

In [14]:
if 3>2:
    print('Hello!')

Hello!

In [20]:
for i in range(10):
    print(i)
    if i%2==0:
        continue
#         break
    print(i)

0
1
1
2
3
3
4
5
5
6
7
7
8
9
9

In [16]:
n = 0
while True:
    if n>10:
        break
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(2,4):
    for j in range(2):
        print(i,j)

2 0
2 1
3 0
3 1

In [49]:
x = 3
if x==2:
    print('x is two!')
elif x==3:
    print('x is three!')
else:
    print('x is not acceptable!')

x is three!

In [51]:
x = 'Salaam. How are you? Let\'s run.'
num = x.count(' ')
for i in range(num):
    print('space')

space
space
space
space
space

In [52]:
y = ''
for i in x:
    if i==' ':
        continue
    y = y+i
y

"Salaam.Howareyou?Let'srun."

# Functions

In [53]:
def echo(i):
    print(i)

In [54]:
x = echo('Bye!')

Bye!

In [55]:
print(x)

None

In [56]:
def mean3(x,y,z):
    return (x+y+z)/3.

In [57]:
m = mean3(2,3.5,6)
print(m)

3.8333333333333335

In [58]:
def ch_remover(x,ch=' '):
    n = 0
    y = ''
    for i in x:
        if i==ch:
            n = n+1
            continue
        y = y+i
    return y,n

In [60]:
y,n = spaceremover('Salaam. How are you? Let\'s run.','r')
y

"Salaam. How ae you? Let's un."

In [61]:
n

2

In [62]:
# Ex:
# 1,2 -> 3
# 'one','one' -> 2
# the result has to be less than 5

In [63]:
def convertor(x):
    thedic = {'one':1,'two':2,'three':3,'four':4,'five':5}
    if type(x) is str:
        x = x.lower()
        x = thedic[x]
    return x

def the_add(x,y):
    x = convertor(x)
    y = convertor(y)
    z = x+y
    if z<6:
        return z
    else:
        print('the result is more than 5!')

In [65]:
the_add(1,'three')

4

In [66]:
func1 = lambda a, b, c : a + b +c

In [67]:
func1(1,2,3)

6

# IO

In [75]:
x = input('Enter the number:')
x = int(x)

Enter the number:14

In [76]:
x

14

In [77]:
x = float(input('Enter the first number:'))
y = float(input('Enter the second number:'))
print('The result is: ',x+y)

# Python 2:
# y=raw_input()

Enter the first number:12
Enter the second number:16
The result is:  28.0

In [78]:
f = open("./files/demofile.txt", "r")
for x in f:
    print(x) 
f.close()

Hello!

How are you?

Goodbye!

In [109]:
f = open("./files/demofile2.txt", "a")
for i in range(5):
    f.write(str(i)+'\n')
f.close()

In [87]:
f = open("./files/demofile2.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

In [154]:
f = open("./files/demofile3.txt", "a")
f.write("Now the file has more content!")
f.close()

# Print format
You can find a good reference [HERE](https://pyformat.info/).

In [88]:
x = float(input('Enter the first number:'))
y = float(input('Enter the second number:'))
print('The 1st is '+str(x)+' and the 2nd is '+str(y))

Enter the first number:12
Enter the second number:11
The 1st is 12.0 and the 2nd is 11.0

In [101]:
print('The 1st is {:010.3f} and the 2nd is {:5.3f}'.format(x,y))

The 1st is 000012.000 and the 2nd is 11.000

In [104]:
print('{:10} aaa'.format('Alireza'))
print('{:10} aaa'.format('Mona'))
print('{:10} aaa'.format('Mahsa'))
print('{:>10}'.format('test'))
print('{:>10}'.format('Alireza'))
print('{:>10}'.format('Mona'))
print('{:>10}'.format('Mahsa'))
print('{:y>10}'.format('test'))

Alireza    aaa
Mona       aaa
Mahsa      aaa
      test
   Alireza
      Mona
     Mahsa
yyyyyytest

In [105]:
print('{:d}'.format(42))
print('{:04d}'.format(42))

42
0042

In [106]:
print('{:2.3f}'.format(42))
print('{:06.4f}'.format(3.141592653589793))

42.000
3.1416

# Exceptions

In [108]:
1.2/0

ZeroDivisionError: float division by zero

In [112]:
x = 6
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 6

In [121]:
assert False, 'Error!'

AssertionError: Error!

In [113]:
import sys
sys.platform

'linux'

In [114]:
import sys
assert ('Windows' in sys.platform), "This code runs on Windows only."

AssertionError: This code runs on Windows only.

In [116]:
x = 0
try:
    print(10/x)
except:
    print('The number you have chosen is not acceptable!')

The number you have chosen is not acceptable!

In [122]:
# f_win
# f_lin

# try:
#     f_lin
# except:
#     f_win

# Modules

In [123]:
import something
import something as st
from something import echo as ech

In [124]:
something.echo('sss')

sss

In [125]:
ech('dddd')

dddd

In [127]:
sys.path

list

In [128]:
import numpy as np

In [129]:
np.__file__

'/home/gf/packages/anaconda3/lib/python3.6/site-packages/numpy/__init__.py'

In [130]:
np.sqrt(2.)

1.4142135623730951

In [131]:
from numpy import sqrt

In [132]:
sqrt(2.)

1.4142135623730951

How to install Python modules:

pip install numpy

## Sys module

In [194]:
import sys

In [195]:
print(sys.argv)

['/home/gf/packages/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py', '-f', '/run/user/1000/jupyter/kernel-28fc1932-83bb-4d77-9d5e-97061c08e093.json']

In [133]:
sys.path

['/home/gf/packages/anaconda3/lib/python36.zip',
 '/home/gf/packages/anaconda3/lib/python3.6',
 '/home/gf/packages/anaconda3/lib/python3.6/lib-dynload',
 '',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/Mako-1.0.4-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/drama-0.1.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/ccgpack-0.1.0-py3.6-linux-x86_64.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/ngene-0.1.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/gevolab-0.1-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pyGadgetReader-2.6-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/shapelets-0.2-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/dicompyler-0.5.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pytube-9.5.2-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pycuda-2017.1-py3.6-linux-x86_64.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/home/gf/.ipython']

In [201]:
sys.exit(0)

SystemExit: 0

## Os Module

In [ ]:
import os
os.getcwd
os.listdir
os.mkdir
os.chdir
os.rename
os.path.exists()
os.path.isdir
os.path.isfile

In [1]:
import os

In [7]:
os.getcwd()

'/home/gf/github_rep/alzahra-workshop-2019/python/files'

In [4]:
os.listdir()

['0-jupyter_notebooks.ipynb',
 '.ipynb_checkpoints',
 '__pycache__',
 '1-python_basics.ipynb',
 'test1.py',
 'files',
 '2-numpy.ipynb',
 'something.py',
 'jupyter_architecture.png',
 '4-pandas-intro.ipynb',
 'README.md',
 '3-matplotlib.ipynb',
 '5-pandas_practice.ipynb',
 'test2.py']

In [5]:
os.mkdir('dir1')

In [9]:
os.chdir('../')

In [10]:
import something

In [13]:
os.path.exists('files')

True

In [15]:
def test1(inp1,inp2):
    os.mkdir(inp1)
    for i in range(10):
        f = open(inp1+'/'+inp2+str(i),'w')
        f.close()

In [16]:
inp1 = '../dir'
inp2 = 'file'
test1(inp1,inp2)

In [34]:
add1 = '../../'
ch = 'D'

def filterfile(add1,ch):
    listp = os.listdir(add1)
    listo = []
    for i in listp:
        if ch in i:
            print(i)
            if os.path.isfile(add1+'/'+i):
                listo.append(i)
    return listo

list_output = filterfile(add1,ch)
print(listo)

DSWSs
DeePlanck
SBUDS-workshop-2019
[]

In [35]:
'' in 'salammali'

True

## Time module

In [36]:
import time

In [206]:
x = time.time()
time.sleep(2)
time.time()-x

2.000343084335327

In [45]:
def mysleep(n):
    for i in range(n):
        time.sleep(1)
        print(i)

In [46]:
t0 = time.time()
mysleep(5)
time.time()-t0

0
1
2
3
4

5.004736661911011

In [48]:
help(time.time)

Help on built-in function time in module time:

time(...)
    time() -> floating point number

    Return the current time in seconds since the Epoch.
    Fractions of a second may be present if the system clock provides them.

In [50]:
?time.time

In [51]:
from IPython.display import clear_output

In [56]:
def timer(x):
    while(x != 0):  
        print(x)
        time.sleep(1)
        clear_output()
        x -= 1

In [57]:
timer(60)

In [59]:
print('aaa')
time.sleep(2)
clear_output()

In [63]:
def timer(x):
    while(x != 0):  
        print(x,end="\r")
        time.sleep(1)
        x -= 1
timer(20)

# Object oriented programming

In [13]:
print(type(3))

<class 'int'>

In [39]:
from numpy import mean

In [44]:
class Classroom:
    def __init__(self, name, teacher, number_of_students, makrs):
        self.name = name
        self.teacher = teacher
        self.number_of_students = number_of_students
        self.makrs = makrs
        assert len(makrs)==number_of_students, 'NUmber of students does not match the marks list.'
        
    def average(self):
        print(mean(self.makrs))

In [46]:
classroom_1 = Classroom('A', 'Javad', 5, [20,19,17,19,16])

In [47]:
classroom_1.number_of_students

5

In [48]:
classroom_1.average()

18.2

In [49]:
classroom_2 = Classroom('B', 'Zahra', 7, [20,19,17,19,16, 10, 11])

In [50]:
classroom_2.average()

16.0

In [61]:
class Power:
    def __init__(self,pow_):
        self.pow = pow_
        
    def __call__(self,x):
        for i in x:
            print(i**self.pow)

In [62]:
x = [1,2,3,4,5,6]

In [66]:
pow2 = Power(2)
pow3 = Power(3)

In [67]:
pow2(x)

1
4
9
16
25
36

In [68]:
pow3(x)

1
8
27
64
125
216

In [72]:
class Classroom_false:
    def __init__(self, name, teacher, number_of_students, makrs):
        self.name = name
        self.teacher = teacher
        self.number_of_students = number_of_students
        self.makrs = makrs
        assert len(makrs)==number_of_students, 'NUmber of students does not match the marks list.'
        
    def average(self):
        print(mean(self.makrs))

In [75]:
c1 = Classroom_false()

In [77]:
c1.__init__('A', 'Javad', 5, [20,19,17,19,16])

## Let's make our own variable class

In [54]:
class Knowledge:
    def __init__(self,know):
        self.know = know
        
    def __add__(self, x):
        print(set(self.know+x.know))

In [55]:
ali_k = Knowledge('AB')
hassan_k = Knowledge('BCS')
# hassan_k.know

In [56]:
ali_k+hassan_k

{'A', 'B', 'C', 'S'}

# Questions

In [4]:
for i in range(10):
    print(i, end = '-')

0-1-2-3-4-5-6-7-8-9-

In [1]:
ss = input('Please input yout values (separate them by hyphen):')

Please input yout values (separate them by hyphen):1-2-3

In [2]:
ss.split('-')

['1', '2', '3']