In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Arithmetic Operators
| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [3]:
x = 2
y = 4

In [5]:
print(x+y)
print(x-y)

6
-2

In [8]:
print(x*y)
print(x/y)
print(x//y)

8
0.5
0

In [7]:
print(y%x)

0

In [10]:
x**y

16

### Relational Operators
| Symbol | Task Performed |
|----|---|
|  = | Assignment|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [13]:
print(x==y)
print(x==2)
print(x!=y)

False
True
True

In [16]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [20]:
x>1 and y<10

True

In [18]:
x>1 or y<1

True

In [23]:
1 < x < 3

True

# Types

In [ ]:
type

In [27]:
print(type(False))
print(type(1))
print(type(1.5))

<class 'bool'>
<class 'int'>
<class 'float'>

## Boolean

In [28]:
bool

bool

## integer, float

In [31]:
int
float

float

In [30]:
x = 1.3
type(x)

float

In [35]:
int(1.9)

1

## String

In [33]:
str(1)

'1'

In [52]:
s1 = 'Hi, this is Python course.'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is Python course.
It's good to see you here!

In [42]:
'aaaaaa'.capitalize()

'Aaaaaa'

In [43]:
s1.count('i')

3

In [46]:
s1.endswith('.')
# startswith

True

In [49]:
s1.find('P')

12

In [53]:
s1.index('H')

0

In [56]:
'-'.join(['1','2','3','4'])

'1-2-3-4'

In [57]:
s1.lower()
# upper

'hi, this is python course.'

In [58]:
s1.replace('H','M')

'Mi, this is Python course.'

In [59]:
s1.split(',')

['Hi', ' this is Python course.']

In [62]:
'100'.zfill(4)

'0100'

In [26]:
s1 = 'aaa'
s2 = 'bbb'

In [27]:
s1*2

'aaaaaa'

In [28]:
s1+s2

'aaabbb'

## List

In [63]:
list

list

In [65]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [142]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
x[4]

5

In [71]:
x[-3]

8

In [72]:
x[3:6]

[4, 5, 6]

In [73]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [74]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
x[:-4]

[1, 2, 3, 4, 5, 6]

In [75]:
# [<begin>:<end>:<step>]
x[1:7:2]

[2, 4, 6]

In [78]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [143]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [144]:
x+[4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [82]:
[1,2,3,'Hi',[],[1,2,3]]

[1, 2, 3, 'Hi', [], [1, 2, 3]]

In [16]:
x = [1,2,3]

In [17]:
x.append(5)

In [18]:
x

[1, 2, 3, 5]

In [19]:
x.insert(3,6)

In [20]:
x

[1, 2, 3, 6, 5]

In [15]:
x.clear()

In [9]:
x

[]

In [21]:
x.remove(1)

In [22]:
x

[2, 3, 6, 5]

In [23]:
x.pop(2)

6

In [24]:
x.reverse()

In [25]:
x

[5, 3, 2]

In [90]:
x = [1,2,3,'Hi',[],[1,2,3]]
x[3]

'Hi'

## Dictionary

In [103]:
x={"a":1,4:10,12:[]}
print(type(x))
print(x)

<class 'dict'>
{'a': 1, 4: 10, 12: []}

In [104]:
print(x['a'])

1

In [105]:
x.keys()

dict_keys(['a', 4, 12])

### Other types

In [106]:
tuple
set

set

# Loop

In [113]:
for i in [1,2,3]:
    print(i)
    print('Hi')
print('Bye!')

1
Hi
2
Hi
3
Hi
Bye!

In [115]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [118]:
n = 0
while n<10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [122]:
x = 1
while x>1e-4:
    print(x)
    x = x/5

1
0.2
0.04
0.008
0.0016
0.00032

# Condition control

In [124]:
if 3<2:
    print('Hello!')

In [126]:
for i in range(10):
    print(i)
    if i%2==0:
        continue
    print(i)

0
1
1
2
3
3
4
5
5
6
7
7
8
9
9

In [127]:
n = 0
while True:
    if n>10:
        break
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

In [129]:
for i in range(4):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1

# Functions

In [130]:
def echo(i):
    print(i)

In [132]:
x = echo('Salaam!')

Salaam!

In [134]:
print(x)

None

In [135]:
def mean3(x,y,z):
    return (x+y+z)/3.

In [137]:
m = mean3(2,3.5,6)
print(m)

3.8333333333333335

In [139]:
func1 = lambda a, b, c : a + b +c

In [140]:
func1(1,2,3)

6

# IO

In [146]:
x = float(input('Enter the first number:'))
y = float(input('Enter the second number:'))
print('The result is: ',x+y)

# Python 2:
# y=raw_input()

Enter the first number:2
Enter the second number:4
The result is:  6.0

In [151]:
f = open("./files/demofile.txt", "r")
for x in f:
    print(x) 
f.close()

Hello!

How are you?

Goodbye!

In [153]:
f = open("./files/demofile2.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

In [154]:
f = open("./files/demofile3.txt", "a")
f.write("Now the file has more content!")
f.close()

# Print format
You can find a good reference [HERE](https://pyformat.info/).

In [156]:
print('The first variable is {} and the second variable is {}'.format('one', 'two'))

The first variable is one and the second variable is two

In [161]:
print('{:10}'.format('Alireza'))
print('{:10}'.format('Mona'))
print('{:10}'.format('Mahsa'))
print('{:>10}'.format('test'))
print('{:>10}'.format('Alireza'))
print('{:>10}'.format('Mona'))
print('{:>10}'.format('Mahsa'))
print('{:_>10}'.format('test'))

Alireza
Mona
Mahsa
      test
   Alireza
      Mona
     Mahsa
______test

In [163]:
print('{:d}'.format(42))
print('{:04d}'.format(42))

42
0042

In [168]:
print('{:2.3f}'.format(42))
print('{:06.4f}'.format(3.141592653589793))

42.000
3.1416

# Exceptions

In [170]:
1.2/0

ZeroDivisionError: float division by zero

In [178]:
x = 6
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 6

In [182]:
import sys
assert ('Windows' in sys.platform), "This code runs on Windows only."

AssertionError: This code runs on Windows only.

In [184]:
x = 0
try:
    print(10/x)
except:
    print('The number you have chosen is not acceptable!')

The number you have chosen is not acceptable!

# Modules

In [ ]:
import something
import something as st
from something import echo as ech

In [189]:
import numpy as np

In [190]:
np.sqrt(2.)

1.4142135623730951

In [191]:
from numpy import sqrt

In [192]:
sqrt(2.)

1.4142135623730951

How to install Python modules:

pip install numpy

## Sys module

In [194]:
import sys

In [195]:
print(sys.argv)

['/home/gf/packages/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py', '-f', '/run/user/1000/jupyter/kernel-28fc1932-83bb-4d77-9d5e-97061c08e093.json']

In [196]:
sys.path

['/home/gf/packages/anaconda3/lib/python36.zip',
 '/home/gf/packages/anaconda3/lib/python3.6',
 '/home/gf/packages/anaconda3/lib/python3.6/lib-dynload',
 '',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/Mako-1.0.4-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/drama-0.1.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/ccgpack-0.1.0-py3.6-linux-x86_64.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/ngene-0.1.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pytube-9.4.0-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/gevolab-0.1-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pyGadgetReader-2.6-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/shapelets-0.2-py3.6.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/pycuda-2017.1-py3.6-linux-x86_64.egg',
 '/home/gf/packages/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/home/gf/.ipython']

In [201]:
sys.exit(0)

SystemExit: 0

## Os Module

In [ ]:
import os
os.getcwd
os.listdir
os.mkdir
os.chdir
os.rename
os.path.exists()
os.path.isdir
os.path.isfile

## Time module

In [202]:
import time

In [206]:
x = time.time()
time.sleep(2)
time.time()-x

2.000343084335327

In [207]:
time.time()

1562572812.125359

In [209]:
?time.time

# Object oriented programming

In [13]:
print(type(3))

<class 'int'>

In [39]:
from numpy import mean

In [44]:
class Classroom:
    def __init__(self, name, teacher, number_of_students, makrs):
        self.name = name
        self.teacher = teacher
        self.number_of_students = number_of_students
        self.makrs = makrs
        assert len(makrs)==number_of_students, 'NUmber of students does not match the marks list.'
        
    def average(self):
        print(mean(self.makrs))

In [46]:
classroom_1 = Classroom('A', 'Javad', 5, [20,19,17,19,16])

In [47]:
classroom_1.number_of_students

5

In [48]:
classroom_1.average()

18.2

In [49]:
classroom_2 = Classroom('B', 'Zahra', 7, [20,19,17,19,16, 10, 11])

In [50]:
classroom_2.average()

16.0

In [61]:
class Power:
    def __init__(self,pow_):
        self.pow = pow_
        
    def __call__(self,x):
        for i in x:
            print(i**self.pow)

In [62]:
x = [1,2,3,4,5,6]

In [66]:
pow2 = Power(2)
pow3 = Power(3)

In [67]:
pow2(x)

1
4
9
16
25
36

In [68]:
pow3(x)

1
8
27
64
125
216

# Init VS ini problem

In [72]:
class Classroom_false:
    def __ini__(self, name, teacher, number_of_students, makrs):
        self.name = name
        self.teacher = teacher
        self.number_of_students = number_of_students
        self.makrs = makrs
        assert len(makrs)==number_of_students, 'NUmber of students does not match the marks list.'
        
    def average(self):
        print(mean(self.makrs))

In [75]:
c1 = Classroom_false()

In [77]:
c1.__ini__('A', 'Javad', 5, [20,19,17,19,16])

## Let's make our own variable class

In [54]:
class Knowledge:
    def __init__(self,know):
        self.know = know
        
    def __add__(self, x):
        print(set(self.know+x.know))

In [55]:
ali_k = Knowledge('AB')
hassan_k = Knowledge('BCS')
# hassan_k.know

In [56]:
ali_k+hassan_k

{'A', 'B', 'C', 'S'}

# Questions

In [4]:
for i in range(10):
    print(i, end = '-')

0-1-2-3-4-5-6-7-8-9-

In [10]:
ss = input('Please input yout values (separate them by hyphen):')

Please input yout values (separate them by hyphen):1-2-3-4

In [11]:
ss.split('-')

['1', '2', '3', '4']