In [1]:
x = 3
y = 2
x/y

1.5

In [2]:
print(type(x))

<class 'int'>

In [3]:
sqrt(x)

NameError: name 'sqrt' is not defined

In [5]:
import math

In [6]:
math.sqrt(x)

1.7320508075688772

In [57]:
x = 3
# from math import *

import numpy as np
np.sin(x)

0.1411200080598672

In [55]:
np = 1
np.sin(x)

AttributeError: 'int' object has no attribute 'sin'

In [58]:
np.sin(x)

0.1411200080598672

# Types

In [9]:
type

type

In [10]:
print(type(False))
print(type(1))
print(type(1.5))

<class 'bool'>
<class 'int'>
<class 'float'>

## Boolean

In [14]:
bool(1)

True

## integer, float

In [111]:
int
float

float

In [15]:
x = 1.3
type(x)

float

In [16]:
int(1.9)

1

## String

In [114]:
str(1)+str(1)

'11'

In [17]:
s1 = 'Hi, this is Python course.'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is Python course.
It's good to see you here!

In [18]:
s1 = 'aaa'
s2 = 'bbb'

In [19]:
s1*2

'aaaaaa'

In [20]:
s1+s2

'aaabbb'

## List

In [21]:
list

list

In [22]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [27]:
x = [1,2,3,4,5,6,[7,8],9,10]
x

[1, 2, 3, 4, 5, 6, [7, 8], 9, 10]

In [28]:
x[4]

5

In [30]:
x[-3] = 3

In [31]:
x

[1, 2, 3, 4, 5, 6, 3, 9, 10]

In [32]:
x[3:6]

[4, 5, 6]

In [33]:
x*2

[1, 2, 3, 4, 5, 6, 3, 9, 10, 1, 2, 3, 4, 5, 6, 3, 9, 10]

In [35]:
x+[4]

[1, 2, 3, 4, 5, 6, 3, 9, 10, 4]

## Dictionary

In [36]:
type({})

dict

In [37]:
x = {"a":1,4:10,12:[1,2],'dict':{'b':4}}
print(type(x))
print(x)

<class 'dict'>
{'a': 1, 4: 10, 12: [1, 2], 'dict': {'b': 4}}

In [46]:
print(x['a'])
print(x[4])
print(x['dict'])

1
10
{'b': 4}

In [40]:
x.keys()

dict_keys(['a', 4, 12, 'dict'])

In [41]:
list(x.keys())

['a', 4, 12, 'dict']

In [42]:
list(x.values())

[1, 10, [1, 2], {'b': 4}]

In [44]:
x['b'] = 'salaam'

In [45]:
x

{'a': 1, 4: 10, 12: [1, 2], 'dict': {'b': 4}, 'b': 'salaam'}

In [51]:
x = [{}]
y = x[0]
type(y)

dict

In [53]:
type([{}][0])

dict

# Loop

In [59]:
for i in [['U'],2,3]:
    print(i)
    print('Hi')
print('Bye!')

['U']
Hi
2
Hi
3
Hi
Bye!

In [47]:
range(2,10,2)

range(2, 10, 2)

In [60]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [62]:
range(10000000000000000)

range(0, 10000000000000000)

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Object oriented programming

In [73]:
print(type(3))

<class 'int'>

In [74]:
x = 3

In [90]:
class TestOne:
    def __init__(self,a,b,c):
        self.a = a
        self.b= b
        self.c = c
    def add(self):
        print(self.a+self.b)

In [91]:
o1 = TestOne(1,2,'Salaam')

In [92]:
o1.a

1

In [93]:
o1.add()

3

In [97]:
o1.add()

3

In [128]:
class Power:
    def __init__(self,pow_):
        self.pow = pow_
        
    def operate(self,x):
        print(x**self.pow)
        
    def __call__(self,x):
        print(x**self.pow)
        
    def __mul__(self,x):
        print(x**self.pow)

In [133]:
pow2 = Power(2)

In [134]:
pow2.operate(3)

9

In [135]:
pow2(3)

9

In [136]:
pow2*3

9

In [137]:
pow3 = Power(3)

In [138]:
pow3.operate(11)

1331

In [139]:
pow3(11)

1331

In [146]:
x = 'sajdlkasdlk'

In [147]:
x.upper()

'SAJDLKASDLK'

In [148]:
x.capitalize()

'Sajdlkasdlk'

In [177]:
class PhoneBook:
    def __init__(self):
        self.content = {}
    
    def add_contact(self,name,number):
        self.content[name] = number
        
    def show_all(self):
        print(self.content)

In [178]:
mypb = PhoneBook()

In [179]:
mypb.add_contact('alireza','09351234567')
mypb.add_contact('Zahra','09351234567')
mypb.add_contact('Shoukat','09351234567')

In [180]:
mypb.show_all()

{'alireza': '09351234567', 'Zahra': '09351234567', 'Shoukat': '09351234567'}

In [186]:
class Exam:
    def __init__(self,n):
        self.marks = n*[False]
    def tashih(self,i,mark):
        self.marks[i] = mark

In [187]:
e1 = Exam(5)

In [188]:
e1.marks

[False, False, False, False, False]

In [189]:
e1.tashih(3,19)

In [190]:
e1.marks

[False, False, False, 19, False]